.text {
		font-size: 20px;
		margin: 200px;
		line-height: 1,5;
}

.text h1 {
	text-align: center;
}
.text_img1 {
	display:block;
	margin:auto;
}
.text p {
	text-align: justify;
}

.text ul {
	font-size: 17px;
line-height: 1;
}

.text_img2 {
	display: block;
}

.text_img3 {
	display: block;
	float: left;
	margin-right: 20px;
}

.text_img4 {
	display: block;
	float: right;
}

.text_img5 {
	display: block;
	float: right;
}